body{
    background-color: #F9F9F9;
    font-family: playfair display;
 }
 
 .col-12{
 background-color: #C7D9BC;
 }
 
 footer{
     padding: 10px;
     padding-left: 5%;
     padding-top: 3%;
     background-color: #C7D9BC;
 }
 
 #copy{
 text-align: left; 
 }

 /* Base start */
 #h1base{ 
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.tilbageknap2{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.basevideo{
    margin-top: 3%;
  }

  .h4base{
      
      margin-left: 5%;
      margin-top: 10%;
  }



  #basetekstet{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

  }

  #basetekstto{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 15%;

  }

  #baseteksttre{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

  }


  #videoet{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;    
  }

  #videoto{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

@media screen and (min-width: 768px){
    .tilbageknap1{
        padding: 1% 4%;
    }

    .tilbageknap2{
        padding: 1% 4%;
    }

   #basetekstet{
       margin-bottom: 10%;
   }

   #basetekstto{
       margin-bottom: 10%;
   }

   #baseteksttre{
        margin-bottom: 5%;
   }

   #videoet{
    height: 350px;
    width: 90%;   
  }

  #videoto{
    height: 350px;
    width: 90%;   
  }

   

}

@media screen and (min-width: 997px){
    .box{  
        display: flex;
        justify-content: space-between;
        }

        .tilbageknap1{
            padding: 1% 3%;
            font-size: 17px;
        }
    
        .tilbageknap2{
            padding: 1% 3%;
            font-size: 17px;
        }

    

    #basetekstet{
        margin-bottom: 5%;
    }

    #basetekstto{
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }

    #baseteksttre{
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h4base{
        margin-top: 5%;
    }

    #videoet{
        height: 315px;
        width: 500px;
    }

    #videoto{
        height: 315px;
        width: 500px;
    }


    #basetekstto   {order: 4;}
    #videoet  {order: 3;}
    #videoto {order: 2;}
    #baseteksttre  {order: 1;}    

 }

 /* Contour */
 #h1contour{ 
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.tilbageknap2{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.contourvideo{
    margin-top: 3%;
  }

  #contourtekstet{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

  }

  .h4contour{
      
    margin-left: 5%;
    margin-top: 10%;
}

#videotre{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;    
  }

  #contourtekstto{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

  }

  @media screen and (min-width: 768px){
    .tilbageknap1{
        padding: 1% 4%;
    }

    .tilbageknap2{
        padding: 1% 4%;
    }

   #contourtekstet{
       margin-bottom: 10%;
   }

   #contourtekstto{
       margin-bottom: 5%;
   }

   #videotre{
    height: 350px;
    width: 90%;   
  }

   

}

@media screen and (min-width: 997px){
    .box{  
        display: flex;
        justify-content: space-between;
        }

        .tilbageknap1{
            padding: 1% 3%;
            font-size: 17px;
        }
    
        .tilbageknap2{
            padding: 1% 3%;
            font-size: 17px;
        }

    

    #contourtekstet{
        margin-bottom: 5%;
    }

    #contourtekstto{
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h4contour{
        margin-top: 5%;
    }

    #videotre{
        height: 315px;
        width: 500px;
    }


    #contourtekstto   {order: 1;}
    #videoetre  {order: 2;} 
 }

 /* Bryn */
 #h1bryn{ 
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.tilbageknap2{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.brynvideo{
    margin-top: 3%;
  }

  #bryntekstet{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

  }

  .h4bryn{
      
    margin-left: 5%;
    margin-top: 10%;
}

#videofire{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;    
  }

  #bryntekstto{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

  }

  @media screen and (min-width: 768px){
    .tilbageknap1{
        padding: 1% 4%;
    }

    .tilbageknap2{
        padding: 1% 4%;
    }

   #bryntekstet{
       margin-bottom: 10%;
   }

   #bryntekstto{
       margin-bottom: 5%;
   }

   #videofire{
    height: 350px;
    width: 90%;   
  }

   

}

@media screen and (min-width: 997px){
    .box{  
        display: flex;
        justify-content: space-between;
        }

        .tilbageknap1{
            padding: 1% 3%;
            font-size: 17px;
        }
    
        .tilbageknap2{
            padding: 1% 3%;
            font-size: 17px;
        }

    

    #bryntekstet{
        margin-bottom: 5%;
    }

    #bryntekstto{
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h4bryn{
        margin-top: 5%;
    }

    #videofire{
        height: 315px;
        width: 500px;
    }


    #bryntekstto   {order: 1;}
    #videoefire  {order: 2;} 
 }

 /* Øjenskygge */
 #h1oejenskygge{ 
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.tilbageknap2{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.oejenskyggevideo{
    margin-top: 3%;
  }

  #oejenskyggetekstet{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

  }

  .h4oejenskygge{
      
    margin-left: 5%;
    margin-top: 10%;
}

#videofem{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;    
  }

  #oejenskyggetekstto{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

  }

  @media screen and (min-width: 768px){
    .tilbageknap1{
        padding: 1% 4%;
    }

    .tilbageknap2{
        padding: 1% 4%;
    }

   #oejenskyggetekstet{
       margin-bottom: 10%;
   }

   #oejenskyggetekstto{
       margin-bottom: 5%;
   }

   #videofem{
    height: 350px;
    width: 90%;   
  }

   

}

@media screen and (min-width: 997px){
    .box{  
        display: flex;
        justify-content: space-between;
        }

        .tilbageknap1{
            padding: 1% 3%;
            font-size: 17px;
        }
    
        .tilbageknap2{
            padding: 1% 3%;
            font-size: 17px;
        }

    

    #oejenskyggetekstet{
        margin-bottom: 5%;
    }

    #oejenskyggetekstto{
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h4oejenskygge{
        margin-top: 5%;
    }

    #videofem{
        height: 315px;
        width: 500px;
    }


    #oejenskyggetekstto   {order: 1;}
    #videoefem  {order: 2;} 
 }

 #forsidebillede{
     height: 90%;
     width: 90%;
     margin: 5% 5% 5% 5%;
 }

 @media screen and (min-width: 997px){
    #forsidebillede{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 500px;
        width: 700px;
    }

    #h1forside{
        text-align: center;
    }
 }




 

   

