body {
    background-color: #F9F9F9;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Playfair Display', serif;
}

.header {
    background-color: #C7D9BC;
}

footer {
    padding: 10px;
    padding-left: 5%;
    padding-top: 3%;
    background-color: #C7D9BC;
    display: flex;
    flex-direction: column;

}

#copy {
    text-align: left;
}

/* Forside - start */
#forsidebillede {
    height: 90%;
    width: 90%;
    margin: 5% 5% 5% 5%;
}

#h1forside{
    text-align: center;
    margin-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

#h2forside{
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

/* Forside - slut */

/* Tutorial start */
#h1tutorial {
    text-align: center;
    margin-top: 3%;

}

.tutorialbilleder {
    margin-top: 3%;
}

#basebillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#contourbillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#brynbillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

#oejenskygge {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.baseknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 6.1%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.contourknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 3.8%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.brynknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 9.1%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.oejenskyggeknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 3%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    cursor: pointer;
}

/* Tutorial slut */

/* Kontakt start */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact input {
    border-radius: 10px;
}

.contact textarea {
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.contact-h1 {
    margin-top: 3%;
}

.contact button {
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 50%;
    background-color: #8FB379;
}

.contact-information {
    display: flex;
    justify-content: center;
}

.padding-bottom {
    padding-bottom: 7%;
}

.icon-scale {
    transform: scale(1.5);
    padding: 6px;
}

.box-2 p {
    font-size: medium;
}

/* Kontakt slut */

/* Base  start */
#h1base {
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1 {
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.tilbageknap2 {
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.basevideo {
    margin-top: 3%;
}

.h3base {

    margin-left: 5%;
    margin-top: 10%;
}



#basetekstet {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

}

#basetekstto {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 15%;

}

#baseteksttre {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}


#videoet {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#videoto {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Base  slut  */

/* Contour start */
#h1contour {
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1 {
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.tilbageknap2 {
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.contourvideo {
    margin-top: 3%;
}

#contourtekstet {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

}

.h3contour {

    margin-left: 5%;
    margin-top: 10%;
}

#videotre {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#contourtekstto {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}

/* Contour slut  */

/* Bryn start */
#h1bryn {
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1 {
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.tilbageknap2 {
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.brynvideo {
    margin-top: 3%;
}

#bryntekstet {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

}

.h3bryn {

    margin-left: 5%;
    margin-top: 10%;
}

#videofire {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#bryntekstto {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}

/* Bryn slut */

/* Øjenskygge start */
#h1oejenskygge {
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1 {
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.tilbageknap2 {
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.oejenskyggevideo {
    margin-top: 3%;
}

#oejenskyggetekstet {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

}

.h3oejenskygge {

    margin-left: 5%;
    margin-top: 10%;
}

#videofem {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#oejenskyggetekstto {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}

/* Øjenskygge slut */

/* Mærker start */
#h1maerker {
    text-align: center;
    margin-top: 3%;
}

.maerkerbilleder {
    margin-top: 3%;
}

#anastasiabillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#bobbibrownbillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#cliniquebillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

#ecookingbillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#katevondbillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#maybellinbillede {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.anastasiaknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.bobbibrownknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.cliniqueknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.ecookingknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.katevondknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.maybellinknap {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    cursor: pointer;
}

/* Mærker slut  */

/* Undersider mærker start */

.products {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;

}

.product-12 {
    padding-top: 5%;
}

.img-style {
    margin-top: 3%;
    align-items: center;
    width: 70%;
    height: 70%;
    max-width: 400px;
    max-height: 300px;
}

.fit-cover {
    object-fit: cover;
}

.fit-contain {
    object-fit: contain;
    
}

.fit-scaledown{
    object-fit: scale-down;
}

.text-products {
    text-align: center;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.reference {
    font-size: x-small;
}

.img-down{
    padding-top: 8%;
}


/* Undersider til mærker slut */

/* Beskrivelser af produkter start */

.product-above {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    flex: 1;


}

.content {
    flex: 1;
}

.design-order {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;

}

.flex-center {
    display: flex;
    justify-content: center;
}

.img-style-2 {
    justify-content: center;
}

/* Beskrivelse af produtker slut */

/* Knapper til mærkesider - start */

.produktknap{
    font-family: 'Playfair Display', serif;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1%;
    width: 300px;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}


/* Knapper til mærkesider - slut  */

@media screen and (min-width: 768px) {

    /* Tutorial start - tablet */

    #basebillede {
        height: 65%;
        width: 40%;
    }

    .baseknap {
        font-size: 20px;
        padding: 1% 7.3%;
    }

    #contourbillede {
        height: 65%;
        width: 40%;
    }

    .contourknap {
        font-size: 20px;
        padding: 1% 5.7%;
    }

    #brynbillede {
        height: 65%;
        width: 40%;
    }

    .brynknap {
        font-size: 20px;
        padding: 1% 9.3%;
    }

    #oejenskygge {
        height: 65%;
        width: 40%;
    }

    .oejenskyggeknap {
        font-size: 20px;
        padding: 1% 5.3%;
    }

    /* Tutorial slut - tablet */



    /* Base  start - tablet */


    #basetekstet {
        margin-bottom: 10%;
    }

    #basetekstto {
        margin-bottom: 10%;
    }

    #baseteksttre {
        margin-bottom: 5%;
    }

    #videoet {
        height: 350px;
        width: 90%;
    }

    #videoto {
        height: 350px;
        width: 90%;
    }

    /* Base  slut - tablet */

    /* Contour start - tablet */


    #contourtekstet {
        margin-bottom: 10%;
    }

    #contourtekstto {
        margin-bottom: 5%;
    }

    #videotre {
        height: 350px;
        width: 90%;
    }

    /* Contour slut - tablet */

    /* Bryn start - tablet */

    #bryntekstet {
        margin-bottom: 10%;
    }

    #bryntekstto {
        margin-bottom: 5%;
    }

    #videofire {
        height: 350px;
        width: 90%;
    }

    /* Bryn slut - tablet  */

    /* Tilbageknapper start - tablet */
    .tilbageknap1 {
        padding: 0.5% 3%;
    }

    .tilbageknap2 {
        padding: 0.5% 3%;
    }

    /* Tilbageknapper slut - tablet */

    /* Øjenskygge start - tablet */


    #oejenskyggetekstet {
        margin-bottom: 10%;
    }

    #oejenskyggetekstto {
        margin-bottom: 5%;
    }

    #videofem {
        height: 350px;
        width: 90%;
    }

    /* Øjenskygge slut - tablet */

    /* Mærker start - tablet */
    #anastasiabillede {
        height: 65%;
        width: 40%;
    }

    .anastasiaknap {
        font-size: 20px;
        padding: 1% 6.1%;
    }

    #bobbibrownbillede {
        height: 65%;
        width: 40%;
    }

    .bobbibrownknap {
        font-size: 20px;
        padding: 1% 6.1%;
    }

    #cliniquebillede {
        height: 65%;
        width: 40%;
    }

    .cliniqueknap {
        font-size: 20px;
        padding: 1% 6.1%;
    }

    #ecookingbillede {
        height: 65%;
        width: 40%;
    }

    .ecookingknap {
        font-size: 20px;
        padding: 1% 6.1%;
    }

    #katevondbillede {
        height: 65%;
        width: 40%;
    }

    .katevondknap {
        font-size: 20px;
        padding: 1% 6.1%;
    }

    #maybellinbillede {
        height: 65%;
        width: 40%;
    }

    .maybellinknap {
        font-size: 20px;
        padding: 1% 6.1%;
    }

    /* Mærker slut - tablet  */

    /* Beskrivelse af produkter start - tablet */

    /* Knapper til mærker start - tablet */
    .produktknap{
        width: 450px;
    }

    /* Knapper til mærker slut - tablet  */

}


@media screen and (min-width: 992px) {
    #copy {
        text-align: right;
        padding-right: 5%;
    }

    /* Forside start */
    #forsidebillede {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    #h1forside {
        text-align: center;
        margin-top: 3%;
    }

    /* Forside slut */

    /* Tutorial start - laptop */

    .box {
        display: flex;
        justify-content: space-evenly;
    }

    #basebillede {
        height: 65%;
        width: 40%;
    }

    .baseknap {
        font-size: 20px;
        padding: 1% 6%;
    }

    #contourbillede {
        height: 65%;
        width: 40%;
    }

    .contourknap {
        font-size: 20px;
        padding: 1% 5.8%;
    }

    #brynbillede {
        height: 65%;
        width: 40%;
    }

    .brynknap {
        font-size: 20px;
        padding: 1% 8.5%;
    }

    #oejenskygge {
        height: 65%;
        width: 40%;


    }

    .oejenskyggeknap {
        font-size: 20px;
        padding: 1% 3.7%;
        margin-bottom: 0%;

    }

    /* Tutorial slut - laptop*/

    /* Kontakt start - laptop */
    .contact-container {
        display: flex;
        flex-wrap: wrap;
    }

    .box-1 {
        width: 70%;
    }

    .box-2 {
        width: 30%;
        padding-top: 10%;
    }

    .box-2 p {
        font-size: large;
    }

    .footer {
        padding-bottom: 7%;
    }


    /* Kontakt slut - laptop */

    /* Base  start - laptop */
    .box {
        display: flex;
        justify-content: space-between;
    }

    #basetekstet {
        margin-bottom: 5%;
    }

    #basetekstto {
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }

    #baseteksttre {
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h3base {
        margin-top: 5%;
    }

    #videoet {
        height: 315px;
        width: 500px;
    }

    #videoto {
        height: 315px;
        width: 500px;
    }


    #basetekstto {
        order: 4;
    }

    #videoet {
        order: 3;
    }

    #videoto {
        order: 2;
    }

    #baseteksttre {
        order: 1;
    }

    /* Base slut - laptop */



    /* Contour start - laptop */
    .box {
        display: flex;
        justify-content: space-between;
    }




    #contourtekstet {
        margin-bottom: 5%;
    }

    #contourtekstto {
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h3contour {
        margin-top: 5%;
    }

    #videotre {
        height: 315px;
        width: 500px;
    }


    #contourtekstto {
        order: 1;
    }

    #videoetre {
        order: 2;
    }

    /* Contour slut - laptop */

    /* Bryn start - laptop */
    .box {
        display: flex;
        justify-content: space-between;
    }



    #bryntekstet {
        margin-bottom: 5%;
    }

    #bryntekstto {
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h3bryn {
        margin-top: 5%;
    }

    #videofire {
        height: 315px;
        width: 500px;
    }


    #bryntekstto {
        order: 1;
    }

    #videoefire {
        order: 2;
    }

    /* Bryn slut - laptop  */

    /* Tilbageknapper start - laptop*/

    .tilbageknap1 {
        padding: 0.5% 2%;
        font-size: 17px;
    }

    .tilbageknap2 {
        padding: 0.5% 2%;
        font-size: 17px;
    }

    /* Tilbageknapper slut - laptop*/

    /* Øjenskygge start - laptop */
    .box {
        display: flex;
        justify-content: space-between;
    }

    #oejenskyggetekstet {
        margin-bottom: 5%;
    }

    #oejenskyggetekstto {
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h3oejenskygge {
        margin-top: 5%;
    }

    #videofem {
        height: 315px;
        width: 500px;
    }


    #oejenskyggetekstto {
        order: 1;
    }

    #videoefem {
        order: 2;
    }

    /* Øjenskygge slut - laptop */

    /* Mærker start - laptop */
    .box {
        display: flex;
        justify-content: space-between;
    }

    #anastasiabillede {
        height: 65%;
        width: 40%;
    }

    .anastasiaknap {
        font-size: 20px;
        padding: 1% 5.2%;
    }

    #bobbibrownbillede {
        height: 65%;
        width: 40%;
    }

    .bobbibrownknap {
        font-size: 20px;
        padding: 1% 5.2%;
    }

    #cliniquebillede {
        height: 65%;
        width: 40%;
    }

    .cliniqueknap {
        font-size: 20px;
        padding: 1% 5.2%;
    }

    #ecookingbillede {
        height: 65%;
        width: 40%;
    }

    .ecookingknap {
        font-size: 20px;
        padding: 1% 5.2%;
    }

    #katevondbillede {
        height: 65%;
        width: 40%;
    }

    .katevondknap {
        font-size: 20px;
        padding: 1% 5.2%;
    }

    #maybellinbillede {
        height: 65%;
        width: 40%;
    }

    .maybellinknap {
        font-size: 20px;
        padding: 1% 5.2%;
        margin-bottom: 0%;

    }

    /* Mærker slut - laptop */

    /* Undersider til mærker start - laptop */

    .products {
        display: flex;
        flex-wrap: wrap;

    }

    .two-pictures {
        flex-direction: row;
        height: 100%;
        width: 100%;

    }

    .img-style{
        max-height:300px;
    }

    .product-12 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .product-12 p {
        padding-left: 5%;
        padding-right: 5%;
    }

    .design {
        justify-content: space-around;
    }
    /* Undersider til mærker slut - laptop */

    /* Beskrivelse af produkter start - laptop */

    .reference {
        justify-content: center;

    }

    .img-up {
        margin-top: -15%;
    }

    .design-order {
    order: -1;
    width: 50%;

}


.product-above {
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    justify-content: space-around;
    align-items: center;

}


.img-style-2 {
    height: 70%;
}

.product-center {
    padding-right: 1%;

}

.bobbi-brown-3 {
 
    width: 50%;
}

.footer-products {
    display: flex;

}

/* Beskrivelse af produkter slut - laptop */

/* Navbar start */
.navbar a {
    font-size: 18px;
}

 /* Knapper til mærker start - tablet */

 .produktknap{
    max-width: 316px;
}


/* Knapper til mærker slut - tablet  */



}





/* Navbar slut */




