body {
    background-color: #F9F9F9;
    font-family: playfair display;
    flex: auto;
    height: 100vh;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    font-family: playfair display;
}

.col-12 {
    background-color: #C7D9BC;
}

footer {
    padding: 10px;
    padding-left: 5%;
    padding-top: 3%;
    background-color: #C7D9BC;
    display: flex;
    flex-direction: column;

}

#copy {
    text-align: left;
}

/* Tutorial start */
#h1tutorial{ 
    text-align: center;
    margin-top: 3%;
}

.tutorialbilleder{
  margin-top: 3%;
}

#basebillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#contourbillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#brynbillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

#oejenskygge{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.baseknap{
   font-family: playfair display;
   background-color: #E2FFE2;
   border: black solid;
   padding: 1% 6.1%;
   display: block;
   margin-top: 1%;
   margin-left: auto;
   margin-right: auto;
   cursor: pointer;
}

.contourknap{
   font-family: playfair display;
   background-color: #E2FFE2;
   border: black solid;
   padding: 1% 3.8%;
   display: block;
   margin-top: 1%;
   margin-left: auto;
   margin-right: auto;
   cursor: pointer;
}

.brynknap{
   font-family: playfair display;
   background-color: #E2FFE2;
   border: black solid;
   padding: 1% 9.1%;
   display: block;
   margin-top: 1%;
   margin-left: auto;
   margin-right: auto;
   cursor: pointer;
}

.oejenskyggeknap{
   font-family: playfair display;
   background-color: #E2FFE2;
   border: black solid;
   padding: 1% 3%;
   display: block;
   margin-top: 1%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 3%;
   cursor: pointer;
}

/* Tutorial slut */

/* Kontakt start */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact input {
    border-radius: 10px;
}

.contact textarea {
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.contact button {
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 50%;
    background-color: #8FB379;
}

.contact-information {
    display: flex;
    justify-content: center;
}

.padding-bottom {
    padding-bottom: 7%;
}

.icon-scale {
    transform: scale(1.5);
    padding: 6px;
}

.box-2 p {
    font-size: medium;
}

/* Kontakt slut */

/* Base  start */
#h1base {
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1 {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.tilbageknap2 {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.basevideo {
    margin-top: 3%;
}

.h4base {

    margin-left: 5%;
    margin-top: 10%;
}



#basetekstet {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

}

#basetekstto {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 15%;

}

#baseteksttre {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}


#videoet {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#videoto {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Base  slut  */

/* Contour start */
#h1contour {
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1 {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.tilbageknap2 {
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;

}

.contourvideo {
    margin-top: 3%;
}

#contourtekstet {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

}

.h4contour {

    margin-left: 5%;
    margin-top: 10%;
}

#videotre {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#contourtekstto {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

}

/* Contour slut  */

/* Bryn start */
#h1bryn{ 
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.tilbageknap2{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.brynvideo{
    margin-top: 3%;
  }

  #bryntekstet{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

  }

  .h4bryn{
      
    margin-left: 5%;
    margin-top: 10%;
}

#videofire{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;    
  }

  #bryntekstto{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

  }
/* Bryn slut */

/* Øjenskygge start */
#h1oejenskygge{ 
    text-align: center;
    margin-top: 3%;
}

.tilbageknap1{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.tilbageknap2{
    font-family: playfair display; 
    background-color: #E2FFE2;
    border: black solid;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding: 1% 3%;
    font-size: 15px;
    cursor: pointer;
    
}

.oejenskyggevideo{
    margin-top: 3%;
  }

  #oejenskyggetekstet{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

  }

  .h4oejenskygge{
      
    margin-left: 5%;
    margin-top: 10%;
}

#videofem{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;    
  }

  #oejenskyggetekstto{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

  }
/* Øjenskygge slut */

/* Mærker start */
#h1maerker{ 
    text-align: center;
    margin-top: 3%;
}

.maerkerbilleder{
  margin-top: 3%;
}

#anastasiabillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#bobbibrownbillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#cliniquebillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

#ecookingbillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#katevondbillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#maybellinbillede{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.anastasiaknap{
   font-family: playfair display;
   background-color: #E2FFE2;
   border: black solid;
   padding: 1% 4.5%;
   display: block;
   margin-top: 1%;
   margin-left: auto;
   margin-right: auto;
   cursor: pointer;
}

.bobbibrownknap{
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
 }

 .cliniqueknap{
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
 }

 .ecookingknap{
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
 }

 .katevondknap{
    font-family: playfair display;
    background-color: #E2FFE2;
    border: black solid;
    padding: 1% 4.5%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
 }

.maybellinknap{
   font-family: playfair display;
   background-color: #E2FFE2;
   border: black solid;
   padding: 1% 4.5%;
   display: block;
   margin-top: 1%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 3%;
   cursor: pointer;
}
/* Mærker slut  */

/* Undersider mærker start */

.text-anastasia{
    padding-left: 5%;
    padding-right: 5%;
}


.products {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

.product-12{
    padding-top: 5%;
}

.img-style{
    align-items: center;
    width: 70%;
    height: 70%;
    max-width: 400px;
    max-height: 300px;
    padding-top: 5%;
}

.fit-cover{
    object-fit: cover;
}

.fit-contain{
    object-fit: contain;
}

.text-products{
    text-align: center;
}

/* Undersider til mærker slut */


@media screen and (min-width: 768px) {

    /* Tutorial start - tablet */

    .baseknap{
        font-size: x-large;
        padding: 2% 9.9%;
    }

    .contourknap{
        font-size: x-large;
        padding: 2% 7.9%;
    }

    .brynknap{
       font-size: x-large;
       padding: 2% 12.3%;
    }

    .oejenskyggeknap{
       font-size: x-large;
       padding: 2% 7.4%;
    }

    /* Tutorial slut - tablet */



    /* Base  start - tablet */
    .tilbageknap1 {
        padding: 1% 4%;
    }

    .tilbageknap2 {
        padding: 1% 4%;
    }

    #basetekstet {
        margin-bottom: 10%;
    }

    #basetekstto {
        margin-bottom: 10%;
    }

    #baseteksttre {
        margin-bottom: 5%;
    }

    #videoet {
        height: 350px;
        width: 90%;
    }

    #videoto {
        height: 350px;
        width: 90%;
    }

    /* Base  slut - tablet */

    /* Contour start - tablet */
    .tilbageknap1 {
        padding: 1% 4%;
    }

    .tilbageknap2 {
        padding: 1% 4%;
    }

    #contourtekstet {
        margin-bottom: 10%;
    }

    #contourtekstto {
        margin-bottom: 5%;
    }

    #videotre {
        height: 350px;
        width: 90%;
    }

    /* Contour slut - tablet */

    /* Bryn start - tablet */
    .tilbageknap1{
        padding: 1% 4%;
    }

    .tilbageknap2{
        padding: 1% 4%;
    }

   #bryntekstet{
       margin-bottom: 10%;
   }

   #bryntekstto{
       margin-bottom: 5%;
   }

   #videofire{
    height: 350px;
    width: 90%;   
  }
    /* Bryn slut - tablet  */

    /* Øjenskygge start - tablet */
    .tilbageknap1{
        padding: 1% 4%;
    }

    .tilbageknap2{
        padding: 1% 4%;
    }

   #oejenskyggetekstet{
       margin-bottom: 10%;
   }

   #oejenskyggetekstto{
       margin-bottom: 5%;
   }

   #videofem{
    height: 350px;
    width: 90%;   
  }
    /* Øjenskygge slut - tablet */

    /* Mærker start - tablet */
    .anastasiaknap{
        font-size: x-large;
        padding: 2% 8.5%;
    }

    .bobbibrownknap{
        font-size: x-large;
        padding: 2% 8.5%;
    }

    .cliniqueknap{
       font-size: x-large;
       padding: 2% 8.5%;
    }

    .ecookingknap{
       font-size: x-large;
       padding: 2% 8.5%;
    }

    .katevondknap{
        font-size: x-large;
        padding: 2% 8.5%;
     }

    .maybellinknap{
        font-size: x-large;
        padding: 2% 8.5%;
     }
    /* Mærker slut - tablet  */

}





@media screen and (min-width: 992px) {
    #copy {
        text-align: right;
    }

    /* Tutorial start - laptop */

    .box{  
        display: flex;
        justify-content: space-between;
        }
    
        #basebillede{
            height: 65%;
            width: 50%;
        }
    
        .baseknap{
            font-size: x-large;
            padding: 2% 8.9%;
        }    
    
        #contourbillede{
            height: 65%;
            width: 50%;
        }
    
        .contourknap{
            font-size: x-large;
            padding: 2% 6.8%;
        }
    
        #brynbillede{
            height: 65%;
            width: 50%;
        }
        .brynknap{
            font-size: x-large;
            padding: 2% 11.4%;
         }
    
        #oejenskygge{
            height: 65%;
            width: 50%;
            
    
        }
    
        .oejenskyggeknap{
            font-size: x-large;
            padding: 2% 6.3%;
            margin-bottom: 0%;
            
         }

    .footer {
        flex-direction: row;
    }

    #copy {
        flex: 1;
        align-self: flex-end;
    }

    /* Tutorial slut - laptop*/

    /* Kontakt start - laptop */
    .contact-container {
        display: flex;
        flex-wrap: wrap;
    }

    .box-1 {
        width: 70%;
    }

    .box-2 {
        width: 30%;
        padding-top: 10%;
    }

    .box-2 p {
        font-size: large;
    }

    .footer {
        padding-bottom: 7%;
    }


    /* Kontakt slut - laptop */

    /* Base  start - laptop */
    .box {
        display: flex;
        justify-content: space-between;
    }

    .tilbageknap1 {
        padding: 1% 3%;
        font-size: 17px;
    }

    .tilbageknap2 {
        padding: 1% 3%;
        font-size: 17px;
    }



    #basetekstet {
        margin-bottom: 5%;
    }

    #basetekstto {
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }

    #baseteksttre {
        max-width: 40%;
        margin-bottom: 5%;
        margin-top: 0;
    }


    .h4base {
        margin-top: 5%;
    }

    #videoet {
        height: 315px;
        width: 500px;
    }

    #videoto {
        height: 315px;
        width: 500px;
    }


    #basetekstto {
        order: 4;
    }

    #videoet {
        order: 3;
    }

    #videoto {
        order: 2;
    }

    #baseteksttre {
        order: 1;
    }

    /* Base slut - laptop */



/* Contour start - laptop */
.box {
    display: flex;
    justify-content: space-between;
}

.tilbageknap1 {
    padding: 1% 3%;
    font-size: 17px;
}

.tilbageknap2 {
    padding: 1% 3%;
    font-size: 17px;
}



#contourtekstet {
    margin-bottom: 5%;
}

#contourtekstto {
    max-width: 40%;
    margin-bottom: 5%;
    margin-top: 0;
}


.h4contour {
    margin-top: 5%;
}

#videotre {
    height: 315px;
    width: 500px;
}


#contourtekstto {
    order: 1;
}

#videoetre {
    order: 2;
}

/* Contour slut - laptop */

/* Bryn start - laptop */
.box{  
    display: flex;
    justify-content: space-between;
    }

    .tilbageknap1{
        padding: 1% 3%;
        font-size: 17px;
    }

    .tilbageknap2{
        padding: 1% 3%;
        font-size: 17px;
    }



#bryntekstet{
    margin-bottom: 5%;
}

#bryntekstto{
    max-width: 40%;
    margin-bottom: 5%;
    margin-top: 0;
}


.h4bryn{
    margin-top: 5%;
}

#videofire{
    height: 315px;
    width: 500px;
}


#bryntekstto   {order: 1;}
#videoefire  {order: 2;} 
/* Bryn slut - laptop  */

/* Øjenskygge start - laptop */
.box{  
    display: flex;
    justify-content: space-between;
    }

    .tilbageknap1{
        padding: 1% 3%;
        font-size: 17px;
    }

    .tilbageknap2{
        padding: 1% 3%;
        font-size: 17px;
    }



#oejenskyggetekstet{
    margin-bottom: 5%;
}

#oejenskyggetekstto{
    max-width: 40%;
    margin-bottom: 5%;
    margin-top: 0;
}


.h4oejenskygge{
    margin-top: 5%;
}

#videofem{
    height: 315px;
    width: 500px;
}


#oejenskyggetekstto   {order: 1;}
#videoefem  {order: 2;} 
/* Øjenskygge slut - laptop */

/* Mærker start - laptop */
.box{  
    display: flex;
    justify-content: space-between;
    }
 
    #anastasiabillede{
        height: 65%;
        width: 50%;
    }
 
    .anastasiaknap{
        font-size: x-large;
        padding: 2% 7.3%;
    }    
 
    #bobbibrownbillede{
        height: 65%;
        width: 50%;
    }
 
    .bobbibrownknap{
        font-size: x-large;
        padding: 2% 7.3%;
    }
 
    #cliniquebillede{
        height: 65%;
        width: 50%;
    }
    .cliniqueknap{
        font-size: x-large;
        padding: 2% 7.3%;
     }
 
     #ecookingbillede{
         height: 65%;
         width: 50%;
     }
     .ecookingknap{
         font-size: x-large;
         padding: 2% 7.3%;
      }
 
      #katevondbillede{
         height: 65%;
         width: 50%;
     }
     .katevondknap{
         font-size: x-large;
         padding: 2% 7.3%;
      }
 
    #maybellinbillede{
        height: 65%;
        width: 50%;
    }
 
    .maybellinknap{
        font-size: x-large;
        padding: 2% 7.3%;
        margin-bottom: 0%;
        
     }
/* Mærker slut - laptop */

/* Undersider til mærker start - laptop */

.products {
    display: flex;
    flex-wrap: wrap;
  
}

.two-pictures{
    flex-direction: row;
    height: 100%;
    width:  100%;
    
}

.product-12 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.product-12 p{
    padding-left: 5%;
    padding-right: 5%;
}

.design{
    justify-content:space-around;
}

/* Undersider til mærker slut - laptop */

}