body{
   background-color: #F9F9F9;
   font-family: playfair display;
}

.col-12{
background-color: #C7D9BC;
}

footer{
    padding: 10px;
    padding-left: 5%;
    padding-top: 3%;
    background-color: #C7D9BC;
}

#copy{
text-align: left;
}



