/* Kontakt start */

body{
    height: 100vh;
    background-color: #F9F9F9;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact input {
    border-radius: 10px;
}

.contact textarea {
    border-radius: 10px;
}

.contact-h1 {
    padding-top: 10%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.contact button {
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 50%;
    background-color: #8FB379;
}

.contact-information {
    display: flex;
    justify-content: center;
}

.padding-bottom {
    padding-bottom: 7%;
}

.icon-scale {
    transform: scale(1.5);
    padding: 6px;
}

.box-2 p{
    font-size:medium;
}

footer{
    min-height: 22%;
}

/* desktop */

@media screen and (min-width: 992px) {
    .contact-container {
        display: flex;
        flex-wrap: wrap;
    }
    .box-1 {
        width: 70%;
    }

    .box-2 {
        width: 30%;
        padding-top: 19%;
    }

    .box-2 p{
        font-size: large;
    }
}

/* Kontakt slut */