/* Kontakt start */

/* body{
    height: 100vh;
    background-color: #F9F9F9;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact input {
    border-radius: 10px;
}

.contact textarea {
    border-radius: 10px;
}

.contact-h1 {
    padding-top: 10%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.contact button {
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 50%;
    background-color: #8FB379;
}

.contact-information {
    display: flex;
    justify-content: center;
}

.padding-bottom {
    padding-bottom: 7%;
}

.icon-scale {
    transform: scale(1.5);
    padding: 6px;
}

.box-2 p{
    font-size:medium;
} */

/* desktop */

/* @media screen and (min-width: 992px) {
    .contact-container {
        display: flex;
        flex-wrap: wrap;
    }
    .box-1 {
        width: 70%;
    }

    .box-2 {
        width: 30%;
        padding-top: 19%;
    }

    .box-2 p{
        font-size: large;
    }

    .footer{
        padding-bottom:7%;
    }
} */

/* Kontakt slut */

/* anastasia start */

/* .text-anastasia{
    padding-left: 5%;
    padding-right: 5%;
}


.products {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

.product-12{
    padding-top: 5%;
}

.img-style{
    align-items: center;
    width: 70%;
    height: 70%;
    max-width: 400px;
    max-height: 300px;
    padding-top: 5%;
}

.fit-cover{
    object-fit: cover;
}

.fit-contain{
    object-fit: contain;
}

.text-products{
    text-align: center;
} */

/* @media screen and (min-width: 992px) {
    .products {
        display: flex;
        flex-wrap: wrap;
      
    }

    .two-pictures{
        flex-direction: row;
        height: 100%;
        width:  100%;
        
    }

    .product-12 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .product-12 p{
        padding-left: 5%;
        padding-right: 5%;
    }

    .design{
        justify-content:space-around;
    }

} */


    

      /* .product-1 .product-2 { */
        /* width: 50%;
        height: 50%;
    }
    .product-3{
        width: 50%;
        height: 50%; */
   
    /* .products {
        display: flex;
        flex-direction: row;
    }

    .column {
        width: 33.3333333%;
        height: 33.3333333%;
        
    }
} */


@media screen and (min-width:992px) {
    
.design-order{
    order: -1;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%; ;
}
.footer-products{
    display: flex;
    justify-content: baseline;
    position: relative;
}
}